.produits {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    /*overflow: auto;*/
}

.produits:hover {
    border: 1px solid #777;
}

.img-prod {
    margin-left: 15px;
    margin-top: 5px;
}

.img-prod img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.desc-prod {
    padding: 15px;
    text-align: center;
}

.btn-prod {
    margin-left: 15px;
    margin-bottom: 5px;
}